@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,900);
html {
  background: url('./texas.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  background: rgba(247, 247, 247, 1);
}
container {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='./texas.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./texas.jpg', sizingMethod='scale')";
}
headline {
  font-size: 400%;
  margin-top: 10%;
  font-weight: bolder;
  color: #0A83FF;
  position: relative;
  display: block;
  text-align: center;
  letter-spacing: -7px;
}
description {
  padding-left: 2%;
  position: relative;
  display: block;
  text-align: center;
  padding-top: 0.5%;
}
icons {
  font-size: 225%;
}
a {
  color: #000000;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #0A83FF;
}
red:hover {
  color: #FF0000;
}
green:hover {
  color: #00BC00;
}
yellow:hover {
  color: #E5E500;
}
@media only screen and (max-width: 574px) {
  headline {
    font-size: 200%;
    font-weight: 600;
    color: #0A83FF;
    position: relative;
    display: block;
    text-align: center;
    letter-spacing: -3px;
  }
}
